<nav class="nav-bar white-nav">
    <div class="nav-bg"></div>
    <div class="nav-link-wrapper res-padding">
        <ul class="nav-left">
            <li><a class="logo-wrapper" href="/"><img class="logo" src="img/logo.svg"></a></li>
        </ul>
        <ul class="nav-right">
            <li class="nav-link">
                <a href="logout">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
<div id="nav-dummy" class="nav-dummy"></div>