<div class="toolbar">
    <div class="res-padding flex-cont">
        <div class="toolbar-left">
            <input palceholder="Search flights">
        </div>
        <div class="toolbar-right">
            <select class="toolbar-sort">
                <option>test</option>
            </select>
        </div>
    </div>
</div>