<!DOCTYPE html>
<html>
    <% include ../partials/header %>
    <body>
        <% include ../partials/sideNav %>
    </body>
    <div class="page">
        <% include ../partials/nav %>

        <% include ../partials/footer %>
        <% include ../partials/scripts %>

    </div>
</html>